.aboutme{
  padding:10px;


}
.profilepic{
  width:200px;
  height: 180px;
  float:left;
  margin:7px;
}

.sidebar{
  float: left;
  padding-left:15%;
  padding-top:15%
}

h3{
  border-bottom:solid;
  border-color:gray;
  text-align:center;
  margin:20px;
  color:blue;
}
